body{
    background-color:#aaa;
    width:100%;
    margin:20px;
}

#login-form{
    margin:auto;
    padding-top:20vh;
    width:100%;
    text-align: center;
}
#lobby{
    margin:auto;
    padding-top:20vh;
    width:100%;
    text-align: center;
}

#status{
    text-align: center;
    margin:auto;
    width:80vw;
}

#game{
    margin:auto;
    width:640px;
}
